.logInComponent {
    height: 98vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.logInBox {
    background-color: rgb(158, 176, 173);
    text-align: center;
    border-radius: 40px;
    padding: 30px;
}

.logInText {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 33px;
    color: rgb(255, 255, 255);
}

.signUpButton {
    margin-top: 6px;
    font-family: 'Patrick Hand', cursive;
    font-size: 22px;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 200px;
    border: 3px solid rgb(233, 233, 237);
    border-radius: 10px;
    background-color: rgb(158, 176, 173);
    cursor: pointer;
    transition-duration: 0.5s;
}

.signUpButton:hover {
    background-color: rgb(233, 233, 237);
    color: rgb(158, 176, 173);
}