#profileInfoBox {
    height: calc(100% - 50px);
    width: 66vw;
    display: grid;
    place-items: center;
}

#profileInfoInnerBox {
    width: 80%;
    max-width: 700px;
    max-height: 700px;
    background: #e0e0e0;
    border-radius: 15%;
    box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profileImageBig {
    width: 55%;
    border-radius: 50%;
    box-shadow:  17px 17px 47px #aaaaaa,
    -17px -17px 47px #ffffff;
}

#helloUserText {
    font-size: 66px;
    margin-top: 22px;
}