.groupList {
    display: grid;
    align-items: center;
}

.groupListText {
    margin-top: 10px;
    padding-bottom: 6px;
    margin-bottom: 0;
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid gray;

}

#newGroupButton {
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    height: 50px;
    width: 33vw;
    border: none;
}