.inputMessage {
    width: 66vw;
    border-right: 1px solid gray;
}

.inputMessageField {
    background-color: rgb(118, 176, 206);
    height: 30px;
    width: 60vw;
    border: none;
    border-radius: 15px 0 0 15px;
    outline: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
}

.inputSendButton {
    height: 30px;
    width: 30px;
    border: 1px rgb(118, 176, 206);
    border-radius: 0 50% 50% 0;
    cursor: pointer;
    /*margin-right: ;*/
}

.inputPhotoButton {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.inputLocationButton {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
