.inputMessage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 66vw;
}

.inputMessageField {
    background-color: rgb(158, 176, 173);
    height: 30px;
    flex-grow: 1;
    border: none;
    border-radius: 15px 0 0 15px;
    outline: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
}

.inputSendButton {
    height: 30px;
    width: 30px;
    border: 1px rgb(118, 176, 206);
    border-radius: 0 50% 50% 0;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inputPhotoButton {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.inputLocationButton {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sendIcon {
    height: 80%;
}

.locationIcon {
    height: 90%;
}
