/*
.otherPerson {
    width: 33vw;
}

.otherPersonData {
    padding-left: 50px;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 1px;
    border: solid aqua;
}

.otherPersonStatus {
    padding-left: 50px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 1px;
    border: solid aqua;
}

.otherPersonImage {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-top: 13px;
    padding-left: 5px;
}

.you {
    width: 33vw;

}

.youData {
    text-align: right;
    padding-right: 50px;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 1px;
    border: solid aqua;
}

.youImage {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: right;
    margin-top: 13px;
    padding-right: 5px;
}

.youStatus {
    text-align: right;
    padding-right: 50px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 1px;
    border: solid aqua;
}
 */

.user {
    border-radius: 1px;
    border: solid aqua;
}

.profileImage {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid aqua;
}

.username {
    border-radius: 1px;
    border: solid aqua;
}

.userStatus {
    border-radius: 1px;
    border: solid aqua;
}